* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    overflow: hidden;
}
body input[type='checkbox'], input[type='radio'] {
    display: none;
}
#header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 85.65% 14.15%;
}
.header {
    display: flex;
    align-items: center;
    background-color: #e3e8ed;
    justify-content: space-around;
    padding: 0.25rem 0;
    height: 100%;
}
#header-left {
    border-radius: 0 0 0.25rem 0;
}
.header-fix {
    visibility: visible;
}
.header-section {
    border: 2px solid #c9d1d8;
    border-radius: 0.25rem;
}
#toggle-section {
    display: inherit;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}
#toggle-section input[type='number'] {
    width: 25%;
}
label[for='setValueAll'] {
    display: inherit;
    justify-content: inherit;
    align-items: center;
    border: 2px solid #e3e8ed;
    flex-direction: inherit;
}
#header-right {
    border-radius: 0 0 0.25rem 0.25rem;
}
#for-options {
    width: 100%;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
}
#options-title {
    display: none;
}
#close-options {
    display: none;
}
#season-box {
    display: inherit;
    border: 2px solid #e3e8ed;
}
.season-box-fix {
    visibility: visible;
}
.enable-header {
    cursor: pointer;
    height: 2.5rem;
    display: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    width: 7rem;
    visibility: visible;
}
.enable-fix {
    visibility: visible;
}
.season-wrapper {
    background-color: #e3e8ed;
    border-radius: 0.25rem;
    width: 7rem;
    margin: 0.25rem;
    display: block;
    padding: 0.25rem 0;
    cursor: not-allowed;
    height: 2.5rem;
    display: flex;
    align-items: center;
}
.season-wrapper-enabled {
    background-color: #c9d1d8;
    cursor: pointer;
}
.season-wrapper-disabled {
    color: #c9d1d8;
}
.img-season {
    height: 2rem;
    width: 2rem;
}
.header-snippet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: visible;
    align-self: flex-start;
    height: 100%;;
}
.header-snippet p {
    margin: 0;
    pointer-events: none;
}
#optionsButton {
    display: none;
}
.snippet-buttons {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e8ed;
    padding: 0.1em 0.5em;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 5em;
    border: 0;
    height: 80%;
    font-size: 2.5vh;
}
.container {
    display: flex;
    height: 90vh;
    padding-top: 0.25rem;
}

.wrapper {
    display: inherit;
    flex-wrap: wrap;
    height: 100%;
}
#left {
    flex: 1 0;
    overflow: auto;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0 0.25rem 0 0;
    padding: 0.5rem;
    background-color: #e3e8ed;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.5em;
    grid-template-rows: repeat(4, 1fr);
}
#right {
    width: 20.5rem;
    align-items: flex-start;
    justify-content: center;
}
.label {
    border: 2px solid;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.label-regular {
    background-color: #b4d455;
    border-color: #b4d455;
}
.label-r-selected {
    border: 2px dashed #789618;
}
.label-on-season {
    background-color: #28bac1;
    border-color: #28bac1;
}
.label-os-selected {
border: 2px dashed #217284;
}
.label-out-of-season {
    background-color: #ed3a12;
    border-color: #ed3a12;
}
.label-oos-selected {
    border: 2px dashed #81230e;
}
#checkout {
    background-color: #000;
    border-color: #000;
    color: #fff;
    grid-area: 4 / 6 / 5 / 7;
}
#above {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.under {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    height: 0;
    width: 0;
    position: unset;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.under-visible {
    visibility: visible;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}
.snippet-container {
    background-color: white;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.25rem;
    border-radius: 0.25rem;
}
.snippet-container i {
    cursor: pointer;
    font-size: 1.5rem;
}
.item-container {
    background-color: white;
    width: 18rem;
    height: 13rem;
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item-container p {
    margin: 0;
}
#item-scale {
    width: 75%;
    display: inherit;
    justify-content: space-around;
    align-items: inherit;
}
#item-scale i {
    font-size: 1.5rem;
    cursor: pointer;
}
#choose-container {
    display: inherit;
    margin: 0.5rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.choose-box {
    flex: 0 1 35%;
    text-align: center;
    border-radius: 0.25rem;
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 2rem;
    cursor: pointer;
}
.fix {
    height: 2rem;
    width: 2rem;
    pointer-events: none;
}
.margin-fix {
    margin: 0;
    pointer-events: none;
}
.product-holder {
    display: inherit;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
.price-tag {
    margin: 0;
    pointer-events: none;
}
.receipt {
    width: 20rem;
    padding: 0.5rem 1rem;
    background-color: antiquewhite;
    display: none;
    flex-direction: column;
    font-family: 'VT323', monospace;
    letter-spacing: 0.1rem;
    cursor: default;
    font-size: 0.999rem;
}
.title-line {
    text-align: center;
    font-weight: bold;
}
.receiptItem {
    margin: 0;
    display: inherit;
    justify-content: space-between;
}
#snippet-area {
    display: none;
}

@media screen and (max-width: 520px) {
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    #header {
        overflow: auto;
        justify-content: center;
        height: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        width: 100%;
    }
    .header-fix {
        visibility: hidden;
    }
    .header-fix-mobile {
        visibility: visible;
    }
    #header-left, #header-right {
        flex-direction: inherit;
        width: 100%;
    }
    #toggle-section {
        flex-direction: inherit;
    }
    #season-box {
        display: flex;
        flex-flow: row wrap;
    }
    .season-box-fix {
        visibility: hidden;
    }
    .season-box-fix-mobile {
        visibility: visible;
    }
    .season-wrapper {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    #header-right > div:nth-child(1) {
        display: inherit;
        flex-direction: column;
    }
    .header-snippet {
        width: 100%;
        height: 10vh;
    }
    #optionsButton {
        display: inherit;
    }
    #for-options {
        position: absolute;
        flex-direction: column;
        width: 18rem;
        padding: 1em;
        /* height: 80vh; */
        /* margin: 10vh 5vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; */
    }
    .for-options-mobile {
        visibility: visible;
        z-index: 1;
    }
    /* #close-options i {
        font-size: 1.5em;
        margin: 0.5em;
    } */
    #for-howto {
        position: absolute;
    }
    #under {
        position: absolute;
        height: 100vh;
        width: 100vw;
    }
    .snippet-buttons {
        height: 90%;
    }
    .header-snippet i {
        font-size: 1.75rem;
        pointer-events: none;
    }
    .header-snippet p ol {
        padding: 0;
    }
    .enable-header {
        background-color: #e3e8ed;
        display: flex;
        border: 0;
        margin: 1em 0;
        visibility: hidden;
    }
    .enable-fix {
        visibility: hidden;
    }
    .enable-fix-mobile {
        visibility: visible;
    }
    .mobile-button:checked + .enable-header {
        background-color: #c9d1d8;
    }
    .options-fix {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.5em;
        border: 2px solid #e3e8ed;
        border-radius: 0.25rem;
        width: 70%;
    }
    .snippet-value-all {
        display: flex;
        justify-content: center;
    }
    .snippet-value-all > input[type='number'] {
        width: 60%;
    }
    .snippet-value-all > span {
        display: inherit;
        font-size: 1.5em;
    }
    #snippet-season-holder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;
        justify-content: center;
        margin-bottom: 0.5em;
    }
    .snippet-season {
        display: flex;
        text-align: center;
        text-transform: capitalize;
        justify-content: inherit;
        flex-direction: column;
        cursor: pointer;
        height: auto;
        width: auto;
        padding: 0.5em;
        margin: 0;
    }
    #seasonbutton:checked + .snippet-season {
        border: 2px solid #e3e8ed;
        border-radius: 0.25rem;
    }
    .snippet-toggle:checked + .snippet-season {
        border: 2px solid #e3e8ed;
        border-radius: 0.25rem;
    }
    .season-mobile {
        width: 4em;
        pointer-events: none;
    }
    .snippet-season span {
        pointer-events: none;
    }
    .snippet-container i {
        font-size: 1rem;
    }
    .container {
        height: 81vh;
        padding: 0;
        position: absolute;
        margin-top: 10vh;
        width: 100%;
    }
    #left {
        border-radius: 0;
        grid-template-columns: 1fr;
        grid-gap: initial;
        padding: 0.25rem 0.5rem;
    }
    .wrapper > .label:nth-last-child(1) {
        display: none;
    }
    .label {
        flex: 0 1 100%;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto;
        width: auto;
        margin: 0.25rem 0;
    }
    .product-holder {
        flex: 1 0 40%;
    }
    .price-tag {
        flex: 1 0 40%;
        text-align: center;
    }    
    .scale {
        flex: 1 0 20%;
        text-align: center;
    }
    #item-scale i {
        font-size: 2rem;
    }
    #right {
        display: none;
    }
    #snippet-area {
        display: flex;
        height: 9vh;
        padding: 0.1rem;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    #snippet-price {
        flex: 1;
        background-color: #74d613;
        border-radius: 0.25rem;
        margin: 0.1rem;
        display: inherit;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        color: #0c5f0c;
    }
    #snippet-total {
        margin: 0;
        text-align: center;
    }
    #snippet-total > span {
        font-size: 0.8rem;
    }
    #snippet-checkout {
        background-color: #000;
        color: #fff;
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        display: inherit;
        justify-content: center;
        align-items: center;
        margin: 0.1rem;

    }
    #snippet-checkout p {
        margin: 0;
    }
    #close-receipt {
        color: #fff;
        display: flex;
        justify-content: flex-end;
        font-size: 1.75rem;
        margin-top: 0.5rem;
    }
    #close-receipt > i {
        cursor: pointer;
    }
    #recepit-snippet {
        align-self: center;
    }
    @media screen and (max-height: 650px) {
        .header-snippet i {
            font-size: 4.5vh;
        }
        .snippet-container {
            font-size: 2.35vh;
        }
    }
}
